.container {
  display: flex;
  flex-direction: column;
}

header {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px 20px 10px 20px;
            background-color: var(--color-frame-background);
          }

          header div:nth-of-type(2) {
            width: 100%;
          }

          header div:nth-of-type(3) {
            width: 500px;
            height: 45px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;
          }

          .logo {
            width: auto;
            height: 103px;
            display: flex;
            flex-direction: row;
            padding: 18px 15px 18px 15px;
            gap: 12px;
            align-items: center;
          }
          
          .kpi-tracker {
            font-size: 40px;
            font-family: var(--logo-font);
            color: var(--color-button);
            min-width: 230px;
          }

            .main {
          flex-direction: column;
          padding: 0 0 0 0;
  }

            .t {
            stroke: var(--color-footer); 
            stroke-linecap: round;
          }

          .k {
            stroke: var(--color-button); 
            stroke-width: 25;
            stroke-linecap: round;
          }

          button {
            width: 100%;
            height: var(--text-field-height);
            border-radius: 100px;
            width: 100%;
            padding: 10px 30px 10px 30px ;
          }

          button span {
            font-weight: 500px;
          }
    
          @media screen and (max-width: 468px) {
            .kpi-tracker {
              font-size: 30px;
              min-width: 120px;
              margin-left: 10px;
            }
            header div:nth-of-type(3) {
              width: 130px;
              height: 45px;
            }
            .sign-in{
              display: none;
            }
            .logo{
              gap: 0;
              padding: 18px 10px 18px 0px;
            }
          }

