.main{
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;
}

.main-body{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: fit-content;
    gap: 25px;
}
.content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 70%;
    height: 100%;
    gap: 25px;
}

.content section {
    gap: 0;
}
.sidebar{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;  
}

.sidebar div:nth-of-type(1) {
    height: auto;
}

section {
    flex-direction: column;
    height: 100%;
    gap: 30px;
}

.bottom-content {
    padding: 20px 30px 20px 30px;
    border-radius: 25px;
    background-color: var(--color-element2);
}

.top-content__navbar {
    display: flex;
    justify-content: space-between;
}
.top-content__navbar-list {
    display: flex;
    gap: 10px;
    list-style: none;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

#title-kpi {
    width: 100%;
}

.KPI_container {
    display: flex;
    width: fit-content;
    min-height: 25px;
    height: auto;
    cursor: pointer;
    gap: 10px;
    align-items: center;
}

.KPI{
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px;
    width: 50%;
    height: 100%;
    padding: 10px 15px 10px 15px;
}

.hour{
    background-color: #FEFADE; 
    border-radius: 0px 5px 5px 0px;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 10px 10px 10px 10px;
}
.KPI, .hour {
    display: inline-block;
    margin: none;
    display: flex;
    align-items: center; 
}

.item-button {
    height: var(--text-field-height);
    display: flex;
    padding: 0px 10px 0px 10px;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    background-color: var(--color-button);
    color: var(--color-white-text);
    border-radius: var(--button-border-radius);
    cursor: pointer;
    border-radius: var(--button-border-radius);
  }

.scheduleContainer {
    width: inherit;
    display: flex;
    height: 100%;
    border-radius: var(--br-8xs);
    background-color: var(--color-white-text);
}
.sidebar_content {
    width: 100%;
    height: 100%;
    max-height: 580px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.searchBar {
    display: flex;
    width: 100%;
}
.sort_filter{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.searchBar div {
    width: 100%;
    margin-right: 15px;
}

.tools {
    width: 100%;
    height: auto;
}

.set-kpi {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 20px;
    align-items: center;
    border-radius: 0;
}

#list{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: var(--br-8xs);
  }

.list-task {
    list-style: none;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    background-color: var(--color-background);
    border: 2px solid var(--color-frame-background2);
    justify-content: left; 
    align-items: center;
    border-radius: var(--br-8xs);
    padding: 10px 15px 10px 15px;
    gap: 15px;
}

.list-task:hover{
    background-color: var(--color-button-hover);
    border: 2px solid var(--color-button);
    color: var(--color-white-text);
    cursor: pointer;
}
.corlor-task, .name-task{
    display: inline-block;
}

button {
    width: 100%;
    padding: 10px 15px 10px 15px;
}

.img-button img {
    width: 26px;
    height: 26px;
  }

.img-button {
    height: 40px;
    width: 40px;
}

#period-select-button{
  width: 35px;
  height: 35px;
}

/*
*  Calendar
*/
.fc-button-active {
    background-color: var(--color-button-hover) !important;
}
.fc-view-harness fc-view-harness-passive {
    border-radius: 5px;
}

.fc-day-today {
    background-color: var(--color-button-hover) !important;
    color: #ffffff;
}
.fc-toolbar .fc-toolbar-chunk:nth-child(2) div {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.fc-toolbar-title {
    font-size: var(--heading1) !important;
    width: fit-content !important;
    white-space: nowrap;
    height: 41.4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0 !important;
}

#addToKHButton, #delTasks {
    display: none;
}

#selectTasksButton {
    width: 60px;
}

.fc-select-button {
    width: 60px !important;
}

.share-rect {
    fill: var(--color-button);
}

.fc-share-button:hover .share-rect {
    fill: var(--color-button-hover);
}

.fc-toolbar.fc-header-toolbar {
    background-color: var(--color-frame-background);
    color: #ffffff;
    padding-bottom: 20px;
    margin-bottom: 0 !important;
  }

  .fc {
    font-size: var(--body-size) !important;
    font: var(--body-font) !important;
  }
  .fc-toolbar.fc-header-toolbar .fc-button {
    background-color: var(--color-button);
    position: relative;
    border: none;
    border-radius: 5px;
    color: white;
  }
  .fc-toolbar.fc-header-toolbar .fc-button:hover {
    background-color: var(--color-button-hover);
  }
  .fc-toolbar.fc-header-toolbar h2 {
    color: var(--color-black-text);
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 1.5em;
    margin: 0;
    padding: 5px 20px;
    font-family: var(--body-font);
    font-size: var(--heading2);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .fc-timegrid-slot {
    border-color: rgba(255, 255, 255, 0.3); /* Change color and opacity of the grid lines */
  }
  .fc-timegrid-slot.fc-timegrid-slot-label {
    background-color: rgba(42, 115, 120, 0.1); /* Change background color of the time labels */
  }
  .fc-timegrid-slot.fc-timegrid-slot-lane {
    border-color: rgba(163, 160, 160, 0.3); /* Change color and opacity of the horizontal lines */
  }
  .fc-col-header-cell {
    border-color: rgba(255, 255, 255, 0.3); /* Change color and opacity of the header cell borders */
  }

/*
#calander {
    height: 800px;
}  
*/

tbody tr {
    height: calc((600px - 60px) / 8); 
  }
  .fc .fc-timegrid-slot-label {
    vertical-align: top;
    text-align: start;
  }

div.fc-scroller-harness div.fc-scroller::-webkit-scrollbar {
    width: 6px;
}

.fc .fc-scroller-liquid-absolute::-webkit-scrollbar {
    width: 6px;
}

    /* Track */
    .fc .fc-scroller-liquid-absolute::-webkit-scrollbar-track {
    background: var(--color-element2); 
    border-radius: 2px;
    width: 6px;
}
    
    /* Handle */
    .fc .fc-scroller-liquid-absolute::-webkit-scrollbar-thumb {
    width: 4px;
    background: var(--color-button); 
    border-radius: 2px;
}

    /* Handle on hover */
    .fc .fc-scroller-liquid-absolute::-webkit-scrollbar-thumb:hover {
    background: #154e53; 
}

/*
        Adding KPI

*/
.hidden {
    display: none;
}

.progress-bar {
    width: 100%;
    background-color: var(--color-element2);
    border-radius: 25px;
  }
  
  .progress {
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background-color: var(--color-button);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

.flex {
    display: flex;
}
#kpiInfo {
    gap: 0;
    width: 780px;
}

#taskInfo {
    gap: 0;
    width: 580px;
}

.color-task {
    width: fit-content;
}

.name-task {
    width: 100%;
}

.unit {
    display: flex;
    width: 15%;
    gap: 5px;
    justify-content: flex-end;
}
#closeButton button, #closeTaskButton button {
    border-radius: 50px;
}

#inputTask{
    width: fit-content ;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#input {
    width: 860px ;
    height: 362.4px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#recommendKPI {
    width: 780px;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

#recommendKPI button {
    width: 140px;
    height: 30px;
    padding: 5px;
    font-size: var(--body-size);
    border-radius: 15px;
    border: none;
    color: var(--color-black-text);
}
#add-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#popup-title {
    padding-top: 40px;
    font-size: var(--heading2);
    width: fit-content;
}

#recommendKPI button:nth-of-type(1) {   
    background-color: #F2DEDE ;
}

#recommendKPI button:nth-of-type(2) {   
    background-color: #9CB2D7 ;
}

#recommendKPI button:nth-of-type(3) {   
    background-color: #FFDBA6 ;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5); /* Màu overlay */
  }

#inputContainer, #taskInputContainer {
    height: 290px;
    display: flex;
    flex-direction: column;
    gap: 10px   ;
}

#realContent {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 302.4px;
}

.inputTitle div {
    font-size: var(--body-size);
}

.inputTitle {
    gap:10px;
    align-items: center;
}

.inputTitle div:nth-of-type(1) {
    flex: 1;
    min-width: 42px;
}

.inputTitle div:nth-of-type(2) {
    flex: 5;
}
.inputTitle div:nth-of-type(2) input{
    min-width: 210px;
}

.inputTitle div:nth-of-type(3) {
    flex: 3;
}

.inputTitle div:nth-of-type(3) select {
    flex: 3;
    width: 100%;
}

.inputTitle div:nth-of-type(4) input {
    flex: 2;
    width: 100%;
}

.inputTitle div:nth-of-type(5), .inputTitle div:nth-of-type(4), .inputTitle div:nth-of-type(6) {
    flex: 2;
}

.inputTitle div:nth-of-type(5) input {
    flex: 2;
}

.inputTitle div:nth-of-type(6) {
    display: flex;
    justify-content: flex-end;
}

.inputTitle div:nth-of-type(6) button {
    width: 50px;
    height: 40px;
}

.inputTitle div input,  .inputTitle div select {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

#addKPIButton, #addTaskButton {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}

#schedule hr {
    visibility:visible;
}

#addKPIButton div, #addTaskButton div {
    color: red;
}

input[type="file"] {
    display: none; /* Ẩn phần tử input type file */
  }
  
  .custom-file-upload {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-button);
    color: var(--color-white-text);
    border-radius: var(--button-border-radius);
    border: 2px solid var(--color-button);
    cursor: pointer;
    font-size: var(--body-size);
    width: fit-content;
    height: 40px;
    padding: 10px;
    white-space: nowrap;
  }
  
  .custom-file-upload:hover {
    background-color: var(--color-button-hover);
    border: 2px solid var(--color-button);
  }

.addButton {
    height: 40px;
    gap: 8px;
    border-radius: 5px;  
    width: fit-content;
    margin-left: 40px;
}

ul {
    list-style-type: none;
    padding-left: 0;
  }

  #intro-kpi {
    width: 30vw;
  }

  #intro-kpi *{
    text-align: left;
    justify-content: center;
  }

  #intro-kpi p{
    margin-bottom: 10px;
    text-indent: 20px;
  }

#kpi-step li::before {
    content: "\2022"; /* Dấu chấm */
    color: var(--color-button);
    display: inline-block;
    width: 1em;
    font-size: 1.5em; /* Kích thước tăng lên */
  }

#KPIaddButton , #taskAddButton {
    display: flex;
    width: 290px;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    margin-bottom: 40px;
}
#KPIaddButton button, #taskAddButton button {
    font-size: var(--heading1);
}

.help-button{
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    top: 17px;
    right: 80px;
}

#closeButton, #closeTaskButton, #closeKpiInfoButton, #closeTaskInfoButton {
    position: absolute;
    top: 20px;
    right: 40px;
}

.img-icon {
    width: 22px;
    height: 22px;
}

.icon-svg:hover {
    fill: var(--color-button-hover);
    cursor: pointer;
}

.addKPITitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.addKPiLeft {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: fit-content;
}

/*

            Style for addTaks

*/

#addTaskTitle {
    gap: 10px;
    font-size: large;
}

.task-input {
    gap: 10px;
    align-items: center;
}

.task-input div {
    font-size: 18px;
}

.task-input div:nth-of-type(1), #addTaskTitle div:nth-of-type(1) {
    width: 42px;
}

.task-input div:nth-of-type(2) input, #addTaskTitle div:nth-of-type(2) {
    width: 165px;
}

.task-input div:nth-of-type(3) select, 
#addTaskTitle div:nth-of-type(3),  #addTaskTitle div:nth-of-type(7)
  {
    width: 83px;
 }
 .task-input div:nth-of-type(5) input,.task-input div:nth-of-type(4) input,#addTaskTitle div:nth-of-type(4),
  .task-input div:nth-of-type(6) input,  #addTaskTitle div:nth-of-type(5), #addTaskTitle div:nth-of-type(6) {
    width: 100px;
 }


 .task-input div:nth-of-type(7) input,  #addTaskTitle div:nth-of-type(7) {
    width: 140px;
 }
 .task-input div:nth-of-type(8) select, #addTaskTitle div:nth-of-type(8) {
    width: 83px;
 }

.task-input div input, .task-input div select {
    height: 40px;
    border-radius: 10px;
    border: none;

}

.task-input div input[type="text"] {
    padding: 10px;
}

.task-input div input{
 padding-left: 5px;
}

.uploadMethod {
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: var(--body-size) !important;
}
#uploadMethod {
    width: 780px;
}

#uploadTaskMethod {
    max-width: 917px;
}
.methods{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.uploadMethod svg path, .uploadMethod svg circle,
.methods svg path, .methods svg circle{
    stroke: var(--color-button);
}

.example-file-container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.example-file-container a{
    width: fit-content;
    height: fit-content;
    max-width: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-button);
}
.example-file-container a:hover{
    cursor: pointer;
    color: var(--color-button-hover);
}

.example-file-container a img{
    width: 50px;
    height: 50px;
}

#title-kpi {
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: hidden;
}

.color-picker-class *{
    font-size: var(--body-size) !important;
    font: var(--body-font) !important;
}

.sp-button-container.sp-cf {
    display: flex !important;
    flex-direction: row !important;
    width: 100% !important;
}

.sp-cancel {
    background-color: var(--color-frame-background) !important;
}

.sp-choose{
    background-color: var(--color-button) !important;
}

.sp-choose:hover, .sp-cancel:hover{
    background-color: var(--color-button-hover) !important;
    color: var(--color-white-text);
}

#kpi-info-container, #task-info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 40px;
    margin-bottom: 40px;
    height: 100%;
    width: 100%;
}

.row-10px {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#kpi-task-list{
    border: 2px solid var(--color-button);
  }
  
  #kpi-task-list thead tr{
    background-color: var(--color-element2);
    height: 50px;
  }
  
  #kpi-task-list thead tr th, #kpi-task-list tbody tr td{
    padding: 5px;
  }
  
  #kpi-task-list tbody {
    background-color: var(--color-background);
    color: var(--color-text);    
  }

  #popup-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 30%;
    height: 30%;
    height: fit-content;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    background-color: var(--color-white-text);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--color-shadow);
    text-align: center;
    z-index: 20;
    gap: 30px;
    overflow: hidden;
  }

  .popup-content{
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    height: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    gap: 10px;
  }
  
  #popup-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 30px;
    padding-top: 0;
  }

  #popup-buttons button {
    white-space: nowrap;
    padding: 10px;
    max-width: 150px;
  }

  .noti-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    background-color: var(--color-element2);
    padding: 20px 30px;
  }

.options{
    width: fit-content;
    position: absolute; /* Đặt vị trí tuyệt đối cho options */
    top: 0; 
    right: 100%; 
    z-index: 3; /* Đảm bảo options hiển thị trên các phần tử khác */
    padding: 10px;
    margin-right: 10px;
    border-radius: 7px;
    background: #fff;
    display: none;
}

.options .option{
    display: flex;
    height: 45px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 7px;
    align-items: center;
    background: #fff;
}

.options .option.active{
    background: var(--color-footer);
    color: #fff;
}

.options .option:hover{
    color: var(--color-white-text);
    background: var(--color-button-hover);
}

.sort-unsort {
    display: flex;
    flex-direction: row;
    position: relative;
}

#sort-task {
    border-radius: 5px;
}

#unsort-task {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: none;
}

#filter-task {
    border-radius: 5px;
}

#unfilter-task {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: none;
}
@media screen and (max-width: 468px){
    .main{
        display: block;
        padding: 0px 15px;
    }
    .content{
        width: 100%;
        gap: 15px;
        height: auto;
    }
    .top-content__navbar{
        display: block;
    }
    .top-content__navbar-list{
        display: flex;
        justify-content: space-between;
    }
    #title-kpi{
        display:contents;
        overflow-x: auto;
    }
    #kpi-task-list {
        display: block;
        overflow-x: auto;
    }
    section {
        gap: 15px;
        height: fit-content;
    }
    .fc .fc-toolbar{
        display: block;
    }
    .fc-toolbar-chunk{
        margin-bottom: 15px;
    }
    .sidebar{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        height: fit-content;
    }
    .sidebar section {
        height: 500px;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .sidebar_content {
        max-height: 400px;
    }

    .content section {
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .fc-toolbar-chunk:nth-of-type(1),
    .fc-toolbar-chunk:nth-of-type(2) {
        display: table-cell;
        padding-bottom: 15px;
    }

    .fc-toolbar-chunk:nth-of-type(1){
        padding-right: 12px;
    }

    .fc-toolbar-chunk:nth-of-type(2){
        padding-right: 12px;
    }

    .fc-toolbar-chunk:nth-of-type(3){
        margin-bottom: 0;
    }

    .fc-toolbar.fc-header-toolbar h2 {
        font-size: 18px !important;
        display: flex;
        justify-content: center;
        padding: 3px;
    }
    .scheduleContainer{
        height: fit-content;
    }
    tbody tr{
        height: calc((400px / 8));
    }

    #addKPI, #addTask, #taskInfo, #kpiInfo, #popup-container {
        width: 95%;
        position: fixed;
        background-color: var( --color-frame-background);
        z-index: 100;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
        box-shadow: -2px 2px 2px 2px var(--color-mode-1-shadow);
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding-top: 10px;
        font-size: 17px;
        height: auto;
    }
    #popup-container{
        max-width: 400px;
    }
    
    .heading2{
        font-size: var(--mobile-heading1);
    }

    #closeButton {
        right: 30px;
    }

    .uploadMethod{
        display: flex;
        flex-direction: column;
    }

    #recommendKPI{
        display: none;
    }

    #addKPIButton {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    #addKPIButton button, .addButton {
        margin-left: 0;
        position: absolute;
    }
    /*Nen duoc xem xet truoc khi quyet dinh*/
    .addButton {
        position: relative;
        font-size: 15px;
    }

    .top-main {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-body {
        flex-direction: column-reverse;
        margin-bottom: 60px;
    }

    .set-kpi {
        margin-top: 15px;
    }
    #input, #inputTask {
        width: 380px;
        overflow-x: auto;
    }
    .task-input div:nth-of-type(2) input, #addTaskTitle div:nth-of-type(2) {
        min-width: 165px;
    }
    .task-input div:nth-of-type(3) select, #addTaskTitle div:nth-of-type(3), #addTaskTitle div:nth-of-type(7) {
        min-width: 83px;
    }

    .inputTitle div:nth-of-type(3) {
        min-width: 146px;
    }
    .inputTitle div:nth-of-type(4), .inputTitle div:nth-of-type(5) {
        min-width: 97.34px;
    }
    .inputTitle div:nth-of-type(2) {
        min-width: 210px;
    }
    #realContent {
        margin-top: 40px;
    }

    input[type="datetime-local"] {
        width: 100px;
    }

    .task-input input[type="number"] {
        width: 100px;
    }
    #addTaskTitle div:nth-of-type(7) {
        min-width: 140px;
    }

    #inputTask {
        margin-top: 20px;
    }

    #inputTask > div:nth-of-type(2) {
        margin-top: 20px;
    }
  
    
    #list{
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
    }
  
    .task-input div:nth-of-type(5) input, .task-input div:nth-of-type(4) input, #addTaskTitle div:nth-of-type(4), .task-input div:nth-of-type(6) input, #addTaskTitle div:nth-of-type(5), #addTaskTitle div:nth-of-type(6) {
        min-width: 100px;
    }
    .task-input div:nth-of-type(8) select, #addTaskTitle div:nth-of-type(8) {
        min-width: 83px;
    }
    .task-input div:nth-of-type(1), #addTaskTitle div:nth-of-type(1) {
        min-width: 42px;
    }

    #clodeKpiInfoButton{
        right: 20px;
    }

    #kpiInfo{
        width: 100%;
    }

    #kpi-info-container .row-10px:nth-of-type(3){
        justify-content: center;
    }

    #kpi-task-list{
        display: block;
        overflow-x: auto;
    }
    
    /*
    #kpi-info-container div{
        display: inline;
    }
    */
}