.main{
    flex-direction: row;
    flex-wrap: nowrap;
    height: 730px;
}
.content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 70%;
    height: 100%;
    gap: 25px;
}
.sidebar{
    flex-grow: 1;
    width: 20%;
    height: 100%;
}

section {
    flex-direction: column;
    height: 100%;
    gap: 30px;
}

.bottom-content {
    padding: 20px 30px 20px 30px;
    border-radius: 25px;
    background-color: var(--color-mode-1-element2);
}

.top-content__navbar {
    display: flex;
    justify-content: space-between;
}
.top-content__navbar-list {
    display: flex;
    gap: 10px;
    list-style: none;
    flex-direction: row;
    align-items: center;
    height: auto;
}
.date-kpi{            
    background-color: var(--color-white-text);
    border-radius: var(--br-8xs);
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    height: var(--text-field-height);
    display: flex;
    padding: 0px 10px 0px 10px;
}
.KPI_container {
    display: flex;
    min-width: 225px;
    min-height: 25px;
    height: auto;
}

.KPI_container:nth-of-type(1) > .KPI {
    background-color: #F2DEDE;
}

.KPI_container:nth-of-type(2) > .KPI {
    background-color: #9CB2D7;
}

.KPI_container:nth-of-type(3) > .KPI {
    background-color: #FFDBA6;
}

.KPI{
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px;
    width: 63.5%;
    height: 100%;
    padding: 10px 15px 10px 15px;
}

.hour{
    background-color: beige; 
    border-radius: 0px 5px 5px 0px;
    justify-content: center;
    width: 36.5%;
    height: 100%;
    padding: 10px 10px 10px 10px;
}
.KPI, .hour {
    display: inline-block;
    margin: none;
    display: flex;
    align-items: center; 
}

.item-button {
    height: var(--text-field-height);
    display: flex;
    padding: 0px 10px 0px 10px;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    background-color: var(--color-mode-1-button);
    color: var(--color-white-text);
    border-radius: var(--button-border-radius);
    cursor: pointer;
    border-radius: var(--button-border-radius);
  }

.scheduleContainer {
    width: inherit;
    display: flex;
    height: 100%;
    border-radius: var(--br-8xs);
    background-color: var(--color-white-text);
}
.sidebar_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sidebar{
    display: flex;
    flex-direction: column;
}

.searchBar {
    display: flex;
    width: 100%;
}
.sort_filter{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.searchBar div {
    width: 100%;
    margin-right: 15px;
}

.tools {
    width: 100%;
    height: auto;
}

.set-kpi {
    height: auto;
}

.list{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list-task {
    list-style: none;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    margin: 7px 0px 7px 0px;
    background-color: var(--color-white-text);
    border: 2px solid var(--color-white-text);
    justify-content: left; 
    align-items: center;
    border-radius: var(--br-8xs);
    padding: 10px 15px 10px 15px;
    gap: 20px;
}

.list-task:hover{
    background-color: var(--color-mode-1-button-hover);
    border: 2px solid var(--color-mode-1-button);
    color: var(--color-white-text);
    cursor: pointer;
}
.corlor-task, .name-task{
    display: inline-block;
}

.img-button {
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    min-width: 40px;
    min-height: 40px;
}

.img-button img {
    width: 26px;
    height: 26px;
}

button {
    width: 100%;
    padding: 10px 15px 10px 15px;
}