.main {
  flex-direction: row;
  padding: 100px 80px 60px 80px;
  gap: 80px;
  background-color: var(--color-mode-1-element2);
  height: 100%;
}

.main div:nth-of-type(1) {
  flex-grow: 1;
}

.main div:nth-of-type(2) {
  flex-grow: 2;
}

#col-5px, .col-5px {
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 5px 0 5px;
  gap: 5px;
}

#sign-up-input, .sign-up-input {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.goal,
.one-goal {
  width: inherit;
  height: auto;
  display: flex;
}

.left-col {
  width: inherit;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 35px 0 35px;
  gap: 30px;
  align-items: center;
}

.logo {
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 18px 0 18px 15px;
  gap: 12px;
  align-items: center;
}

.kpi-tracker {
  font-size: 40px;
  font-family: var(--logo-font);
  color: var(--color-mode-1-button);
  min-width: 230px;
}

.goal-group {
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row-5px,
.row-5px-center {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  flex-grow: 1;
}

.row-5px-center {
  justify-content: center;
}

.row-5px-right {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: right;
  align-items: center;
  flex-grow: 1;
}
.tick-icon-15px {
  min-width: var(--small-tick-size);
  min-height: var(--small-tick-size);
}

section {
  flex-direction: column;
  padding: 60px 60px 90px 60px;
  gap: 30px;
  align-items: center;
  max-width: 600px;
  height: fit-content;
}

.social-button {
  padding: 0 10px 0 10px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white-text);
  color: var(--color-black-text);
  width: 100%;
  height: var(--text-field-height);
  border-radius: var(--button-border-radius);
  border: none;
  cursor: pointer;
  border: 2px solid var(--color-mode-1-button);
}

.social-button:hover {
  background-color: var(--color-mode-1-element2);
  border: 2px solid var(--color-mode-1-button);
}

.social-icon {
  width: 20px;
  height: 20px;
}

hr{
  width: 100%;
  border-style: solid;
  border-width: 1px;
}

span{
  white-space:nowrap;
}

.sup-text {
  display: none;
}

.back {
  cursor: pointer;
}

.page-title {
  width: 100%;
  justify-content: left;
}

button {
  width: 100%;
  height: var(--text-field-height);
}

h1 {
  width: 100%;
}

@media screen and (max-width: 468px) {
  .left-col {
    display: none;
  }
  .main {
    padding: 0px 0px 0px 0px;
    width: 100%;
    min-height: 100%;
  }
  section {
    border-radius: 0px;
  }
  .main div:nth-of-type(2) {
    flex-grow: 1;
  }
  .row-5px {
    justify-content: center;
  }
}