#forgot_pass-1-frame {
  display: none;
}

#forgot_pass-2-frame {
  display: none;
}

@media screen and (max-width: 468px) {
  .left-col {
    display: none;
  }
  .main {
    padding: 0px 0px 0px 0px;
    width: 100%;
    min-height: 100%;
    background-color: #fff;
  }
  #sign-in-frame {
    border-radius: 0px;
  }
  .main div:nth-of-type(2) {
    flex-grow: 1;
  }
  .row-5px {
    justify-content: center;
  }
  #forgot_pass-1-frame, #forgot_pass-2-frame {
    padding: 90px 60px 200px 60px;
  }
}
