.main{
    flex-direction: column;
}

#kpi hr {
  visibility:visible;
}

section {
  width: 100%;
}

.nd-1{
  justify-content: left;
  align-items: flex-start;
  padding-top: 35px;
  height: 100%;
}

#kpi-detail-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: hidden;
  gap: 25px;
  justify-content: left;
  overflow-x: hidden;
  border-radius: 25px;
}

.kpi-detail {
    width: fit-content;
    height: fit-content;
    gap: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Căn giữa ngang */
    align-items: center;     /* Căn giữa dọc */
    position: relative;
}

.kpi-info {
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: center; /* Căn giữa ngang */
  align-items: flex-start;     /* Căn giữa dọc */
  gap: 10px;
}

.percentage {
  /*bottom: 74px;
  left: 68px;*/

  position: absolute;
  /*bottom: 78px;
  left: 38px;*/
  top: 54%;
  left: 27%;
  transform: translate(-50%, -50%);
  font-size: var(--heading1-min);
  color: #13c2c2;
}

.kpi-list-container {
  position: relative;
  width: 100%;
  height: fit-content;
}

#l-div, #r-div {
  position: absolute;
  width: fit-content;
  height: 190px;
  top: 0;
  background-color: var(--color-element2);
  padding: 60px 10px 60px 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#l-div {
  left: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  display: none;
}
#r-div {
  right: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.lr{
  width: 30px;
  height: 50px;
}

.col-10px {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 10px;
}

#line-chart {
  width: 100%;
  max-width: 1200px;
  max-height: 500px;
  background-color: var(--color-white-text);
  padding: 20px 20px 20px 20px;
}

.chart-container{
  width:  100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.interact {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:  space-between;
}

#choose-chart-type {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.choose-chart-range {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.chart-type-button {
  width: 100px;
  height: 40px;
  border-radius: 0px;
}

#day {
  border-radius:10px 0px 0px 10px;
  background-color: var(--color-footer);
}

#month {
  border-radius:0px 10px 10px 0px; 
}

.img-button {
  padding: 3px 3px 3px 2px;
}

#period-select-button{
  width: 35px;
  height: 35px;
}

.img-button img {
  width: 100%;
  height: 100%;
}

#KPIaddButton {
  display: flex;
  width: fit-content;
  padding: 5px;
  height: 46px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

@media screen and (max-width: 468px){
  .main {
    padding: 0px 15px;
    width: 100%;
    /*min-height: 100%;*/
    gap: 15px;
  }

  .top-main {
    display: inline;
  }

  #KPIaddButton {
    display: inline-block;
    font-size: var(--mobile-title-size);
    margin: 5px;
    margin-top: 10px;
  }

  .date-kpi{
    font-size: var(--mobile-title-size);
  }

  .period-select {
    display: inline-flex;
    margin: 10px  5px 5px 30px;

  }

  .nd1-name{
    font-size: 18px;
    padding-top: 10px;
  }
  .nd-1 {
    max-width: 10px;
    padding: 0px 0px 150px 30px;
  }
  .kpi-list-container {
    gap: 10px;
  }
  .focus{
    font-size: 35px;
  }

  .heading1 {
    font-size: 20px;
  }
  .chart-type-button {
    width: 70px;
  }
  #line-chart {
    padding: 10px 10px 10px 10px;
  }
  .kpi-detail{
    padding: 10px 10px 10px 30px;
  }

  #l-div, #r-div{
    height: 150px;
  }
}