.main{
    display: flex;
    flex-direction: column;
    padding: 0 53px 0px 53px;
    gap: 20px;
}

.kpi-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Căn giữa ngang */
    align-items: center;     /* Căn giữa dọc */
    padding: 30px 0px 30px;
}

.nd-1{
    flex-grow: 2; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: var(--page-title);
    padding: 0 0 0 60px;
}

.nd-2, .nd-3{
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.focus {
    font-size: var(--big);
    font-weight: 600px;
    color: var(--color-mode-1-button);
}

.donvi {
    font-weight: 500px;
    font-size: var(--heading2);
    color: var(--color-mode-1-button);
}

.col-5px {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Căn giữa ngang */
    align-items: center;     /* Căn giữa dọc */
    gap: 25px;
}

.part2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh; /* Chiều cao khung, có thể điều chỉnh tùy ý */
  }
  .part2 > div {
    padding: 10px;
    
  }

.h2{

    font-size: var(--body-size);
}

.head,.head2{
    font-size: var(--page-title);
}

.head2{
    padding-top: 15px;
}


.frame {
    position: relative; /* Định vị tương đối cho khung */
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.frame{
    height: auto;
    justify-content: center; /* Căn giữa ngang */
    align-items: center;     /* Căn giữa dọc */
    padding: 20px 30px 20px 30px;
}

.kpi-circle {
    width:110;
    height:111;
    fill:none;
}

.outside {
    fill:var(--color-mode-1-frame-background);
}

.back-layer {
    fill:var(--color-mode-1-element2);

}

.front-layer {
    fill:var(--color-mode-1-button);
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: #fff;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    
    
    min-height: 100px;
    max-height: 100px;
}

.parallax > use {
    -webkit-animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
            animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    -webkit-animation-duration: 7s;
            animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    -webkit-animation-duration: 13s;
            animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
}

@-webkit-keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}

@keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}