.main{
    display: flex;
    flex-direction: column;
    padding: 0 53px 0px 53px;
    gap: 20px;
}

.kpi-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Căn giữa ngang */
    align-items: center;     /* Căn giữa dọc */
    padding: 60px 60px 60px 120px;
}

.nd-1{
    flex-grow: 2; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: var(--page-title);
}

.nd-2, .nd-3{
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.focus {
    font-size: var(--big);
    font-weight: 600px;
    color: var(--color-mode-1-button);
}

.donvi {
    font-weight: 500px;
    font-size: var(--heading2);
    color: var(--color-mode-1-button);
}

.col-5px {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.part2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh; /* Chiều cao khung, có thể điều chỉnh tùy ý */
  }
  .part2 > div {
    padding: 10px;
    
  }

.h2{

    font-size: var(--body-size);
}



.head,.head2{
    font-size: var(--page-title);
}

.head2{
    padding-top: 15px;
}


.frame {
    position: relative; /* Định vị tương đối cho khung */
}

.day {
    position: absolute; /* Định vị tuyệt đối cho phần tử day */
    top: 20; /* Đặt vị trí ở đầu khung */
    margin-bottom: 10px;
}

.container {
    margin-top: -50%; /* Để các nút nằm dưới phần tử ngày */
    display: flex;
    justify-content: center;
    gap: 10px;
}

#frame.frame{
    height: 510px;
    justify-content: center; /* Căn giữa ngang */
    align-items: center;     /* Căn giữa dọc */
    
}
