.main{
    display: flex;
    flex-direction: column;
}

.kpi-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Căn giữa ngang */
    align-items: center;     /* Căn giữa dọc */
    padding: 30px 0px 30px;
}

.nd-1{
    flex-grow: 2; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: var(--heading1);
    padding: 0 0 0 60px;
}

.nd-2, .nd-3{
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.focus {
    font-size: var(--big);
    font-weight: 600px;
    color: var(--color-mode-1-button);
}

.donvi {
    font-weight: 500px;
    font-size: var(--heading2);
    color: var(--color-mode-1-button);
}

.col-5px {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.task{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Căn giữa ngang */
    align-items: center;     /* Căn giữa dọc */
    gap: 25px;
}

.part2 {
    display: flex;
    flex-direction: row;
    max-height: 500px;
    min-height: 500px;
    width: 100%;
    gap: 25px;
  }

  .section2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

.container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#week-list {
    width: 100%;
    max-width: 450px;
    height: fit-content;
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 0 5px 0 5px;
    overflow-x: hidden;
}

section{
    height: 100%;
    justify-content: center; /* Căn giữa ngang */
    align-items: center;     /* Căn giữa dọc */
}

.kpi-circle {
    width:110;
    height:111;
    fill:none;
}

.outside {
    fill:var(--color-mode-1-frame-background);
}

.back-layer {
    fill:var(--color-mode-1-element2);

}

.front-layer {
    fill:var(--color-mode-1-button);
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: #fff;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.parallax > use {
    -webkit-animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
            animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    -webkit-animation-duration: 7s;
            animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
}

@-webkit-keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}

@keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}

#task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.one-task {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: var(--color-white-text);
    border: 2px solid var(--color-white-text);
    justify-content: center; 
    align-items: center;
    border-radius: var(--br-8xs);
    padding: 10px 15px 10px 15px;
    gap: 20px;
  }

  .one-task div{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: auto;
    width: auto;
  }

  .one-task .center{
    gap: 10px;
    width: 100%;
  }

  .one-task:hover {
    background-color: var(--color-mode-1-button-hover);
    border: 2px solid var(--color-mode-1-button);
    color: var(--color-white-text);;
    cursor: pointer;
  }

  .day-button {
    width: 45px;
    height: 45px;
    min-width: 45px;
    border-radius: 100px;
    background-color: var(--color-white-text);
    border-color: var(--color-white-text);
    color: var(--color-black-text);
  }

  .day-button:hover{
    color: var(--color-white-text);
  }

  .day-button.active{
    background-color: var(--color-mode-1-button);
    border-color: var(--color-mode-1-button);
    color: var(--color-white-text);
  }

  .container svg {
    width:14;
    height:30;
    fill:none;
    cursor: pointer;
}

#statistic-frame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#statistic-frame .left, 
#statistic-frame .center { 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#statistic-frame .left { 
    width: fit-content;
    flex-direction: column;
}

#statistic-frame .centern{ 
    flex-grow: 2;
}

#statistic-frame .center #pie-chart{ 
    max-height: 160px;
}

.kpi-list-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.kpi-list-container #left,
.kpi-list-container #right{
    width: 40px;
    height: 70px ;
}

#kpi-list {
    width: 100%;
}

#kpi-list #kpi {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
}

#kpi .percentage {
    position: absolute;
    bottom: 82px;
    left: 35px;
    font-size: var(--heading1);
    color: var(--color-mode-1-button-hover);
}